*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 100vh;
    width: 1000px;
    margin: auto;
}

.card{
    background-color: red;
    width: calc(100% / 3 - 2rem);
    height: 400px;
}