*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #0f0e17;
    font-family: sans-serif;
}

#container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 100vh;
    width: 1000px;
    margin: auto;
}

.card{
    width: calc(100% / 3 - 2rem);
    background-color: white;
    border-radius: 10px;
}

img{
    width: 100%;
}

.text{   
    text-align: center;
    padding: 15px;
}

h2, span{
    color: #0f0e17;
    font-weight: lighter;
}

